# Week 1 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## 03 Solution part 1

In [8]:
named_list = ["Hanne","Frank","Hans","Henning","Kenneth"]
letters = ["H"]
sort_names = [names for names in named_list if(names[0] in letters)]
sort_names

['Hanne', 'Hans', 'Henning']

In [9]:
numbered_list = list(range(1, 101, 3))
numbered_list

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100]

In [10]:
def convert(list): 
    return tuple(list) 

names = ["Lars", "Artem", "Valentin", "Stefan"] 
variable = []
for word in names: variable.append(len(word))

print(variable)
print(names)

otherList = zip(variable, names)

print(convert(otherList))

[4, 5, 8, 6]
['Lars', 'Artem', 'Valentin', 'Stefan']
((4, 'Lars'), (5, 'Artem'), (8, 'Valentin'), (6, 'Stefan'))

In [11]:
str = "Jeg er 23 år gammel, men min søster er 17 år yngre"
[int(s) for s in str.split() if s.isdigit()]

[23, 17]

In [12]:
dice1 = ["1","2","3","4","5","6"]
dice2 = ["1","2","3","4","5","6"]

combo = [d1 + d2 for d1 in dice1 for d2 in dice2]
combo

['11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66']

## 04 Solution part 2

In [13]:
pairs = ["The sith strikes back","Barbie and Ken", "James bond"] 
variable = []
for word in pairs: variable.append(len(word))

otherList = dict(zip(variable, pairs))

print(otherList)

{21: 'The sith strikes back', 14: 'Barbie and Ken', 10: 'James bond'}

In [14]:
import math

numbers=[9,36,25,666,333]
rootedNumber = []

for value in numbers: rootedNumber.append(math.sqrt(value))    
    
numberList = dict(zip(rootedNumber, numbers))

print(numberList)

{3.0: 9, 6.0: 36, 5.0: 25, 25.80697580112788: 666, 18.24828759089466: 333}